{% autoescape off %}
<p>Здравствуйте{% if user.get_full_name %}, {{ user.get_full_name }}{% endif %}!</p>
<p>Вы получили это письмо, потому что был запрошен сброс пароля для вашей учётной записи на SkyMail.</p>

<p>Чтобы установить новый пароль, перейдите по ссылке:</p>
<p>
    <a href="{{ protocol }}://{{ domain }}{% url 'users:password_reset_confirm' uidb64=uid token=token %}">
        Сбросить пароль
    </a>
</p>

<p>Если вы не запрашивали смену пароля, просто проигнорируйте это письмо.</p>

<p>С уважением,<br>
    Команда SkyMail</p>
{% endautoescape %}

