<!--client_form.html-->
{% extends "mailing/base.html" %}

{% block title %}
    {% if object %}
        Редактирование клиента
    {% else %}
        Добавление клиента
    {% endif %}
{% endblock %}

{% block content %}
<h1 class="mb-4">
    {% if object %}
        Редактирование клиента
    {% else %}
        Добавление клиента
    {% endif %}
</h1>

<div class="card border-0 shadow-sm">
    <div class="card-body">
        <form method="post">
            {% csrf_token %}

            {{ form.as_p }}

            <button type="submit" class="btn btn-primary">Сохранить</button>
            {% if object %}
            <a href="{% url 'mailing:client_detail' client.pk %}" class="btn btn-secondary">Отмена</a>
            {% else %}
            <a href="{% url 'mailing:client_list' %}" class="btn btn-secondary">Отмена</a>
            {% endif %}
        </form>
    </div>
</div>
{% endblock %}
