<!--mailing_form.html-->
{% extends "mailing/base.html" %}
{% load static %}

{% block title %}
    {% if object %}
        Редактирование рассылки
    {% else %}
        Создание рассылки
    {% endif %}
{% endblock %}

{% block content %}
<div class="container mt-4">
    <h1 class="mb-4">
        {% if object %}
            Редактирование рассылки
        {% else %}
            Создание рассылки
        {% endif %}
    </h1>

    <form method="post">
        {% csrf_token %}
        {{ form.non_field_errors }}

        {% for field in form %}
            <div class="mb-3">
                <label class="form-label" for="{{ field.id_for_label }}">
                    {{ field.label }}
                    {% if field.field.required %}<span class="text-danger">*</span>{% endif %}
                </label>
                {{ field }}
                {% if field.help_text %}
                    <div class="form-text">{{ field.help_text }}</div>
                {% endif %}
                {% for error in field.errors %}
                    <div class="text-danger small">{{ error }}</div>
                {% endfor %}
            </div>
        {% endfor %}

        <button type="submit" class="btn btn-primary">
            Сохранить
        </button>

        {% if object  %}
        <a href="{% url 'mailing:mailing_detail' mailing.pk %}" class="btn btn-secondary">
            Отмена
        </a>
        {% else %}
        <a href="{% url 'mailing:mailing_list' %}" class="btn btn-secondary">
            Отмена
        </a>
        {% endif %}
    </form>
</div>
{% endblock %}
