<!-- _profile_card.html -->
{% load my_tags %}

<div class="col-lg-3 col-md-4 col-sm-6 mb-4">
    <div class="card h-100 shadow-sm border-0 product-card">
        <div class="product-img-wrapper">
            <img src="{{ user.avatar|media_filter }}" class="card-img-top" alt="{{ user.username }}">
        </div>

        <div class="card-body text-start p-2">
            <h6 class="card-title fw-semibold mb-1">{{ user.email }}</h6>

            {% if user.phone %}
            <p class="card-text small mb-2">Телефон: {{ user.phone }}</p>
            {% endif %}
        </div>
    </div>
</div>


