<!--_menu.html-->
{% load static %}
<nav class="navbar navbar-expand-lg navbar-dark bg-dark">
    <div class="container">
        <a class="navbar-brand" href="/">SkyMail</a>

        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav">
            <span class="navbar-toggler-icon"></span>
        </button>

        <div class="collapse navbar-collapse" id="navbarNav">
            <!-- Основное меню -->
            <ul class="navbar-nav me-auto">
                <li class="nav-item"><a class="nav-link" href="{% url 'mailing:message_list' %}">Сообщения</a></li>
                <li class="nav-item"><a class="nav-link" href="{% url 'mailing:client_list' %}">Получатели</a></li>
                <li class="nav-item"><a class="nav-link" href="{% url 'mailing:mailing_list' %}">Рассылки</a></li>
                <li class="nav-item"><a class="nav-link" href="#">Отчёты</a></li>
            </ul>

            <!-- Блок пользователя -->
            {% if user.is_authenticated %}
            <ul class="navbar-nav">
                <li class="nav-item dropdown">
                    <a class="nav-link dropdown-toggle d-flex align-items-center"
                       href="#"
                       id="userDropdown"
                       role="button"
                       data-bs-toggle="dropdown"
                       aria-expanded="false">
                        <!-- Аватар пользователя -->
                    <img
                            src="{% if user.avatar %}{{ user.avatar.url }}{% else %}{% static 'img/default_avatar.png' %}{% endif %}"
                            alt="Аватар"
                            class="rounded-circle me-2"
                            width="32"
                            height="32"
                    >
                    <span>{{ user.email }}</span>
                </a>
                <ul class="dropdown-menu dropdown-menu-end" aria-labelledby="userDropdown">
                        <li>
                            <a class="dropdown-item" href="{% url 'users:profile_detail' %}">
                                Профиль
                            </a>
                        </li>
                        <li>
                            <hr class="dropdown-divider">
                        </li>
                        <li>
                            <form method="post" action="{% url 'users:logout' %}">
                                {% csrf_token %}
                                <button class="dropdown-item" type="submit">
                                    Выйти
                                </button>
                            </form>
                        </li>
                    </ul>
                </li>
            </ul>
            {% else %}
            <div class="d-flex">
                <a href="{% url 'users:login' %}" class="btn btn-outline-light me-2">Войти</a>
                <a href="{% url 'users:registration' %}" class="btn btn-primary">Регистрация</a>
            </div>
            {% endif %}
        </div>
    </div>
</nav>

